
@{
    ViewBag.Title = "SafeDownload";
}

<h2>Export Excel</h2>

<div class="panel">
    <div class="panel-heading">
        <a href="@Url.Action("Download","Excel")" class="btn btn-link">Download</a>
    </div>
</div>
